<footer class="footer">
  <div class="container">
    <div class="footer__inner row">
      <div class="footer__first col-lg-3">
        {{ page.footer_first }}
      </div>
      <div class="footer__second col-lg-3">
        {{ page.footer_second }}
      </div>
      <div class="footer__third col-lg-3">
        {{ page.footer_third }}
      </div>
      <div class="footer__fourth col-lg-3">
        {{ page.footer_fourth }}
      </div>
    </div>
  </div>
</footer>