<header class="header js-header" role="banner">
  <div class="container">
    <div class="header__top">
      {{ page.header_top }}
    </div>
    <div class="header__bottom row">
      <div class="header__logo col-lg-3">
        {{ page.header_logo }}
      </div>
      <div class="header__content col-lg-9">
        {{ page.header_content }}
      </div>
    </div>
  </div>
</header>
