//Clearfix
%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Texts
.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Dark Colors
  &--dark {
    color: $text-color;
  }

  // Light Colors
  &--white {
    color: $white;

    a {
      @extend %link--white;
    }
  }
}

// Backgrounds
.bg {
  // Dark backgrounds
  &--primary {
    background-color: $primary-color;
  }

  // Light backgrounds
  &--white {
    background-color: $white;
  }
}

// Link
.link-arrow {
  position: relative;

  &:after {
    @extend %icons;
    @extend .icon-arrow-right:before;
    margin-left: 5px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
  }
}
