<div class="intro">
	<div>
		<h3>Intro title here</h3>
		<div>
			<p>
				<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</b>
			</p>
			<p>Uat enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Uat enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu li esse cillum dolore eu li.</p>
		</div>
	</div>
    <div>
        <div><a>Personal Stories</a></div>
        <div><a>Frequently Asked Questions</a></div>
        <div><a>Sign up to Newsletter</a></div>
    </div>
</div>
