<div class="sevrices">
    <div class="sevrices__title">
        <h3>Donor conception register services</h3>
        <p>VARTA manages the Central Register and the Voluntary Register and provides support for donors, people who are                 donor-conceived, parents who used a donor and their families.</p>
        <a>View services</a>
    </div>
        <div class="baocai1">
            <div><a>The Voluntary Register</a></div>
            <div>
                <p>The Central Register holds the names and dates of birth (identifying information) of all parties to donor conception treatment in Victoria - donor-conceived people, their parents, and donors. The information is provided to VARTA by the fertility clinics where treatment occurred. People can apply to the Central Register for both identifying and non-identifying information.</p>
            </div>
        </div>
        <div class="baocai2">
            <div><a>The Central Register</a></div>
            <div>
                <p>The Voluntary Register allows people who have been involved in donor conception in Victoria at any time to voluntarily lodge information about themselves and their wishes in order to exchange information with other people on the Voluntary Register.</p>
            </div>
        </div>
</div>
