<footer class="footer">
  <div class="container">
    <div class="footer__inner space-between">
      <p class="footer__item">Left side Copyright text</p>
      <p class="footer__item">Right Side Copyright Text</p>
    </div>
  </div>
</footer>
