{% block paragraph %}
	<div class="intro row">
		<div class="col-8">
			<h4 class="intro__title">{{ content.field_title[0] }}</h4>
			<div class="intro__description">{{ content.field_description[0] }}</div>
		</div>
		<div class="col-2">
			<a class="btn btn" href="#" style="background-color: #0101e6">Sign up to Newsletter</a>
		</div>
	</div>
{% endblock paragraph %}
