<div class="updates">
    <div class="updates__title">
        <h3>Latest news & updates</h3>
        <p>VARTA has a wealth of information and resources to assist you in all areas of assisted reproduction.VARTA has a wealth of information and resources to assist you in all areas of assisted reproduction.</p>
        <div>
            <a>View all news & updates</a>
        </div>
    </div>
    <div>
        <div>
            <img src="https://picsum.photos/327/250">
            <h2>COVID-19 updates for parents</h2>
            <div>
                <p>Due to COVID-19, the Victorian Department of Health and Human Services is reviewing its...</p>
            </div>
            <p>Jun 2020</p>
            <div><a>View more</a></div>
        </div>
             <img src="https://picsum.photos/327/250">
            <h2>Food for fertility</h2>
            <div>
                <p>Studies show that a healthy diet can improve fertility and pregnancy health. But what doe...</p>
            </div>
            <p>Apr 2020</p>
            <div><a>View more</a></div>
        <div>
        </div>
        <div>
             <img src="https://picsum.photos/327/250">
            <h2>Legislation to remove police checks passed by parliament</h2>
            <div>
                <p>A review of research by a team of American experts has shed more light on who is likely...</p>
            </div>
            <p>Sep 2019</p>
            <div><a>View more</a></div>
        </div>
        <div>
             <img src="https://picsum.photos/327/250">
             <h2>Who is most likely to benefit from ICSI?</h2>
            <div>
                <p>A review of research by a team of American experts has shed more light on who is likely...</p>
            </div>
             <p>Sep 2019</p> 
            <div><a>View more</a></div>
        </div>
    </div>
</div>