<div class="card row">
  <div class="card__item col-3">
    <h3 class="card__title">Personal stories</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">Research and publications</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">Information sheets</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">Forms</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">Annual reports</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">News and blogs</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div><div class="card__item col-3">
    <h3 class="card__title">FAQs</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  </div><div class="card__item col-3">
    <h3 class="card__title">Glossary</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
</div>