<div class="card row">
  <div class="card__item col-3">
    <h3 class="card__title">Personal stories</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">Personal stories</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">Personal stories</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">Personal stories</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
  <div class="card__item col-3">
    <h3 class="card__title">Personal stories</h3>
    <div class="card__link"><a class="link-arrow">View all</a></div>
  </div>
<div>